{name, "poolboy"}.
{description, "A hunky Erlang worker pool factory"}.
{homepage, "https://github.com/devinus/poolboy"}.
{url, {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}}.
{authors, ["Devin Torres <devin@devintorres.com>"]}.
{license, "Public Domain", "UNLICENSE"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
